{% extends "base.html" %}

{% block content %}
    <form method="POST">{% csrf_token %}
        <select name="query-artist" value="">
            <option value="">Resarch an artist :</option>
            {% for artist in all_artists %}
            <option value="artist">{{ artist.name }}</option>
            {% endfor %}}
        </select>
        <button type="submit">Rechercher</button>
    </form>
    <br />
    <form method="POST">{% csrf_token %}
        <select name="query-album" value="">
            <option value="">Resarch an album :</option>
            {% for album in all_albums %}
            <option value="album">{{ album.title }}</option>
            {% endfor %}
        </select>
        <button type="submit">Rechercher</button>
    </form>
    <br />
    <form method="POST">{% csrf_token %}
        <select name="query-track" value="">
            <option value="">Resarch a track :</option>
            {% for track in all_tracks %}
            <option value="track">{{ track.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Rechercher</button>
    </form>
    <br />
{% endblock %}